extends layout
block content
   .zhz
     .kuai #[a.gd(href="") 更多产品]
     ul
        li #[a(href="") 新闻]
        li #[a(href="") hao123]
        li #[a(href="") 地图]
        li #[a(href="") 视频]
        li #[a(href="") 贴吧]
        li #[a(href="") 学术]
        li #[a(href="") 登录]
        li #[a(href="") 设置]
   .baidu
      img(src="https://www.baidu.com/img/bd_logo1.png")
   .ipt
    input(type='text', checked)
    .bdyx
      #[a.ss(href="") 百度一下]
   .erweima
    img(src="https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_efde696.png")
    #[.sj(href="") 手机百度]
   .tg
     ul
      li #[a(href="") 把百度设为主页]
      li #[a(href="") 关注百度]
      li #[a(href="") About Baidu]
      li #[a(href="") 百度推广]
   .db
     .dy ©2017 Baidu 使用百度前必读 意见反馈 京ICP证030173号
     .der 京公网安备11000002000001号
    




